.box {
  height: 200px;
  background: #aaa;
}

* {
  text-decoration: none;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #efebeb;
}

a, a:hover, a:focus {
  color: #9c27b0;
  text-decoration: none;
}

a .material-icons, a:hover .material-icons, a:focus .material-icons {
  vertical-align: middle;
}


*, *:before, *:after {
  box-sizing: inherit;
}

.row {
  margin-top: 5%;
  margin-left: 10px;
  margin-bottom: 10%;
}
.column {
  margin: 0 8px;
  float: left;
  width: 20%;
  margin-bottom: 10px;
  background-color: white;
}

.reccolumn {
  margin: 0 2px;
  float: left;
  width: 98%;
  margin-bottom: 5px;
  background-color: white;
}

.reccolumn p {


}

.col {
  display: inline-block;
  float: left;
}

.reccolumn a {
  display: inline-block;
  float: left;

}

.topcolumn {
  margin: 0 2px;
  float: left;
  width:19%;
  margin-bottom: 0px;
  background-color: white;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  align: center;
}

.card p {
  align: center;
}

.container {
  padding: 0 16px;
  align: center;
}

.containerc {
  padding: 0 16px;
  align: center;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.container p {
  margin: 0;
}

.form_container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 6px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.reccolumn button {
  float: right;
  padding: 0;
  width: 50px;
}

.card button:hover {
  opacity: 0.7;
}
